html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #30cac073;
  color: #130808;
}

canvas {
  &.completa {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  list-style: none;
  margin: 0;

  li {
    text-align: right;
    margin-bottom: 0.3em;

    a,
    a:link {
      display: inline-block;
      text-decoration: none;
      color: #e6f5ff;
      background-color: #8ac2e7;
      padding: 0.3em;

      &:hover,
      &.actual {
        background-color: rgb(49, 86, 107);
      }
    }
  }
}

.actual {
  cursor: initial;
  pointer-events: none;
}

#opciones {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

  li {
    background-color: teal;
    padding: 0.35em;
    display: inline-block;
    color: white;

    &:hover,
    &.actual {
      background-color: #0bd6d6;
    }
  }
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.mdc-button.mdc-button--raised.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.videoView,
.detectOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.detectOnClick p {
  position: absolute;
  padding: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.videoView p {
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.resaltador {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.detectarConClick {
  z-index: 0;
}

.detectarConClick img {
  width: 100%;
}
